:root {
    --main-bg-color: #e1deda;
    --main-white-color: #fcfbf9;
    --light-brown: #b88871;
    --dark-gray: #4b484a;
    --dark-brown: #906357;

    --font-title: 'Montserrat', sans-serif;
    --font-cursive: 'Single Day', cursive;
}
